body{
    font-family: "Mulish";
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1440px;
}

h1{
    font-family: "Outfit";
    text-align: center;
}

.tuCompra{
    display: grid;
    justify-content: space-between;
    gap: 200px;
 }

 button{
    width: 100px;
    height: 20px;
    padding: 2px;

 }
 
 #payment-button{
    font-family: "Mulish", bold;
    width: 300px;
    background-color: #DD6464;
    color: white;
    border-color: #DD6464;
    padding: 5px;
 }
/*.greySpace1{
    background-color: lightgrey;
}

.greySpace2{
    background-color: lightgrey;
}*/

.tuCompra img{
    align-items:flex-start;
    width: 40vh;
    margin: 44px;
}

.tuCompra1{
    display: grid;
    justify-content:space-around;
}

.tuCompra2{
    display: grid;
    grid-column-start: 2;
    align-items: center;
}

.detallesPago{
    display: grid;
    justify-content:flex-start;
}

input{
    width: 500px;
    background-color: #EFEEEE;
    margin-top: 30px;
}